$inuit-font-size-h1: 36px !default;
$inuit-font-size-h2: 28px !default;
$inuit-font-size-h3: 24px !default;
$inuit-font-size-h4: 20px !default;
$inuit-font-size-h5: 18px !default;
$inuit-font-size-h6: 16px !default;

$min_width: 320px;
$max_width: 1200px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$min_font: 16px;
$max_font: 24px;

a{
  color: #00687A;
}